
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Variables */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
:root {
    /* Colors */
    --primary-color: #FF006C;
    --secondary-color: #9065BC;
    --text-color: #FFFFFF;

    --font-family: 'Roboto', sans-serif;

    --Big-font-size:  132px;
    --Medium-font-size: 32px;
    --Small-font-size: 24px;
    --macro-font-size: 18px;
    --macroSmall-font-size: 12px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Utility Classes */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.glass-effect{
background: rgba(255, 255, 255, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);

}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Reset Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "roboto", sans-serif;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Container */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.container {
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, #FF006C, #9065BC);
    display: flex;;
}
.main-container{
    width: 100%;
    display: flex;
    padding: 0% 2%;
}
/* ----------------------------------------------------------------------- */
/* left Container */
/* ----------------------------------------------------------------------- */
.left-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main-left-top{
    width: 100%;
    display: flex;  
    flex-direction: row;    
    justify-content: space-between;
}
.main-left-top img{
    width: 100px;
    height: 100px;
}

/* Button */
.temp-swap-btn{
    width: 80px;
    height: 40px;
}
/* From Uiverse.io by guilhermeyohan */ 
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #4cd964, #5de24e);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}

.main-left-temp{
    font-size:var(--Big-font-size);
    color: var(--text-color);
    margin-top: 20px;
}
.main-left-date{
    font-size: var(--Medium-font-size);
    color: var(--text-color);
    margin-top: 10px;
}
.main-left-day{
    font-size: var(--Medium-font-size);
    color: var(--text-color);
    margin-top: 5px;
}
.main-left-time{
    font-size: var(--Medium-font-size);
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
}
/* Main Left Info Bar */
.main-left-info-bar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;

}
.main-left-info-bar .mainLeft-infoBar-div{
    width: 150px;
    height: 80px;
    padding: 10px 10px;
    display: flex;  
    flex-direction: column;    
    gap: 5px;
}
.main-left-info-bar .mainLeft-infoBar-div p:first-child{
    font-size: var(--macroSmall-font-size);
    color: var(--text-color);
    text-align: start;
}
.main-left-info-bar .mainLeft-infoBar-div p{
    font-size: var(--Small-font-size);
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}

/* Days Div */
.days-div{
    width: 80%;
    display: flex;  
    flex-direction: row;    
    gap: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    /* padding: 10px 20px; */
    padding-bottom: 10px;
}
.days-div::-webkit-scrollbar {
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0,
    0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
.days-div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

/* Days div card */
.days-div .days-div-days-info{
    width: 100px;
    min-width: 100px;
    height: 150px;
    display: flex;  
    flex-direction: column;    
    justify-content: center;
    align-items: center;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);


}
.days-div .days-div-days-info .div-days-info-temp{
    font-size: var(--Small-font-size);
    color: var(--text-color);
}
.days-div .days-div-days-info .div-days-info-logo{
    width: 50px;
    height: 50px;
}
.days-div .days-div-days-info .div-days-info-days{
    font-size: var(--macroSmall-font-size);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    color: black;
}
/* ----------------------------------------------------------------------- */
/* Right Container */
/* ----------------------------------------------------------------------- */
.right-container{
    width: 20%;
    height: auto;
    /* background-color: #5de24e; */
}
/* Right Div Top */
.right-container .right-div-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
.right-container .right-div-top img {
    width: 70px;
    height: 70px;
}
.right-container .right-div-top input {
    width: 70%;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    color: var(--text-color);
}
.right-container .right-div-top input ::placeholder {
    color: var(--text-color);
    font-size: var(--Small-font-size);
}
.right-container .right-div-top input:focus {
    outline: none;
    border: none;
}

/* Right Div Main */
.right-container  .right-div-main .right-div-bar{
    width: 100%;
    height: auto;
    min-height: 250px;
    margin-top: 20px;
    /* background-color: #5de24e; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--text-color);
}
.right-container  .right-div-main .right-div-bar-left{
    width: 50%;
    height: 100%;
    /* background-color: #ffb3c6; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container  .right-div-main .right-div-bar-left p{
    text-align: center;
    padding-top: 40px;
    font-size: var(--Small-font-size);
    font-weight: bold;
    color: var(--text-color);
}
 .right-container  .right-div-main .right-div-bar-left .right-div-infobar{
    width: 120px;
    height: 180px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .right-container  .right-div-main .right-div-bar-left .right-div-infobar >p{
    text-align: center;
    font-size: var(--Small-font-size);
    color: var(--text-color);
 }
  .right-container  .right-div-main .right-div-bar-left .right-div-infobar > img{
    width: 50px;
    height: 50px;
  }
/* Right Div Bottom */

.right-container .right-div-main .right-div-bottom{
    width: 100%;
    height: 100px;
    min-height: 250px;
    margin-top: 20px;
    /* background-color: #5de24e; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-sizing: border-box;
    padding-bottom: 30px;
}
.right-container .right-div-main .right-div-bottom .right-div-bottom-box{
    width: 90%;
    height: 80px;
    margin: auto;
    /* background-color: #ffb3c6; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container .right-div-main .right-div-bottom .right-div-bottom-box > p:first-child{
    font-size: var(--Small-font-size);
}
.right-container .right-div-main .right-div-bottom .right-div-bottom-box > p{
    text-align: center;
    font-size: var(--Small-font-size);
    font-weight: bold;
    color: var(--text-color);
}
/* Right Div Info bar */
.right-container  .right-div-main .right-div-bar-right{
    width: 50%;
    height: 100%;
    /* background-color: #ffb3c6; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container  .right-div-main .right-div-bar-right p{
    text-align: center;
    padding-top: 40px;
    font-size: var(--Small-font-size);
    font-weight: bold;
    color: var(--text-color);
}
 .right-container  .right-div-main .right-div-bar-right .right-div-infobar{
    width: 120px;
    height: 180px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .right-container  .right-div-main .right-div-bar-right .right-div-infobar >p{
    text-align: center;
    font-size: var(--Small-font-size);
    color: var(--text-color);
 }
  .right-container  .right-div-main .right-div-bar-right .right-div-infobar > img{
    width: 50px;
    height: 50px;
  }



