/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Variables */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
:root {
  /* Colors */
  --primary-color: #ff006c;
  --secondary-color: #9065bc;
  --text-light-color: #ffffff;
  --text-dark-color: #0a0a0a;

  --font-family: "Roboto", sans-serif;

  --Big-font-size: 132px;
  --Medium-font-size: 32px;
  --Small-font-size: 24px;
  --macro-font-size: 18px;
  --macroSmall-font-size: 12px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Utility Classes */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.glass-effect {
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Reset Styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  width: 100%;
  /* height: 10000000000px; */
  /* background: linear-gradient(135deg, #FF006C, #9065BC); */
  display: flex;
  flex-direction: column;
}
img {
  width: 50px;
  height: 40px;
  display: block;
  max-width: 100%;
  height: auto;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Nav Bar */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.nav-bar {
  width: 100%;
  height: 60px;
  /* background-color: var(--primary-color); */
  /* background: linear-gradient(135deg, #FF006C, #9065BC); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;

  background: rgba(255, 255, 255, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.nav-bar .nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-left >img{
  width: 50px;
  height: 40px;
  display: block;
  max-width: 100%;
  height: auto;
}
.nav-bar .nav-left > P{
  font-size: 24px;
  font-weight: 600;
  color: var(--text-light-color);
}
.nav-bar >input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Container */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.main-container{
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: auto;
  background: linear-gradient(135deg, #ff006c, #9065bc);
  display: flex;
  flex-direction: row;
  padding: 60px 2% 2% 2%;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main First */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-container> .main-first {
position: relative;
  width: 80%;
  height: auto;
}
.main-container> .main-first > .main-weather-logo {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 600px;
  /* top: 100px; */
}
.main-container> .main-first > .main-temp-pera{
  font-size: var(--Big-font-size);
  font-size: 168px;
  font-weight: 700;
  color: var(--text-light-color);
  margin-top: 100px;
}
.main-container> .main-first > .main-today-info{
  font-size: var(--Medium-font-size);
  font-size: 28px;
  font-weight: 600;
  margin-top: -30px;
  margin-bottom: 20px;
  color: var(--text-light-color);
}
.main-container> .main-first > .main-date-day-time{
  width: 30%;
  padding: 2%;
  /* margin-top: 20px; */
}
.main-container> .main-first > .main-date-day-time > .main-date{
  font-size: var(--Medium-font-size);
  font-size: 38px;
  font-weight: 600;
  color: var(--text-light-color);
  margin-bottom: 10px;
}
.main-container> .main-first > .main-date-day-time > .main-day{
  font-size: var(--macro-font-size);
  font-size: 32px;
  color: var(--text-light-color);
}
.main-container> .main-first > .main-info-bar{
  width: 100%;
  height: 150px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
/* Main info bar card */
.main-container> .main-first > .main-info-bar > .main-infoBar-card{
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.main-container> .main-first > .main-info-bar > .main-infoBar-card > p:first-child{
  font-size: var(--macro-font-size);
  font-size: 18px;
  text-align: start;
  color: var(--text-light-color);
}
.main-container> .main-first > .main-info-bar > .main-infoBar-card > img{
  width: 80px;
  height: 80px;
  margin: auto;
}
.main-container> .main-first > .main-info-bar > .main-infoBar-card:nth-child(2)> img{
  width: 60px;
}
.main-container> .main-first > .main-info-bar > .main-infoBar-card:nth-child(3)> img{
  width: 60px;
}

.main-container> .main-first > .main-info-bar > .main-infoBar-card > p{
  font-size: var(--Small-font-size);
  font-size: 32px;
  font-weight: 600;
  color: var(--text-light-color);
  text-align: center;
}
/* main Today Podcast */
.main-container> .main-first > .main-today-podcast{
  margin-top: 50px;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px;
  /* background-color: antiquewhite; */
}
.main-today-podcast::-webkit-scrollbar {
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0,
    0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
.main-today-podcast::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
/* Card */
.main-container> .main-first > .main-today-podcast > .today-podcast-card{
  width: 120px;
  min-width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;

}
.main-container> .main-first > .main-today-podcast > .today-podcast-card > p{
  font-size: var(--macro-font-size);
  font-size: 18px;
  font-weight: 600;
  color: var(--text-light-color);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Main second */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-container> .main-second {
  width: 20%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
  /* background-color: aquamarine; */
}

/* The Toggle Button */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-button input {
  display: none;
}

.button {
  position: absolute;
  inset: 0;
  background: #ddd;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  transition: 0.3s;
}

/* Toggle ON (F active) */
.toggle-button input:checked + .button {
  background: #4CAF50;
}

.toggle-button input:checked + .button::before {
  transform: translateX(30px);
}

/* Active letter highlight */
.toggle-button input:not(:checked) + .button .c {
  color: #fff;
}

.toggle-button input:checked + .button .f {
  color: #fff;
}

/* Main Second Info Card */
.main-container > .main-second > .main-second-infocard {
  width: 100px;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Future Podcast Section */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.future-podcast{
  width: 100%;
  height: auto;
  height: 500px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcoral;
  background: linear-gradient(40deg,rgb(183, 72, 118) 0%, rgba(144, 101, 188, 1) 67%);
}
 .future-podcast .future-podcast-container{
  width: 90%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  /* background-color: #4CAF50; */
 }
 /* Scrtoll Bar */
 .future-podcast .future-podcast-container::-webkit-scrollbar {
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0,
    0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
 .future-podcast .future-podcast-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
  .future-podcast .future-podcast-container .future-podcast-card{
    width: 150px;
    min-width: 150px;
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
.future-podcast .future-podcast-container .future-podcast-card > h6{
    font-size: 24px;
    color: var(--text-light-color);
  }
.future-podcast .future-podcast-container .future-podcast-card > img{
  width: 90px;
}
.future-podcast .future-podcast-container .future-podcast-card> p {
  font-size: 18px;
  color: var(--text-light-color);
  font-weight: 600;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* This day podcast */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.future-podcast .this-day-podcast{
  width: 95%;
  height: 100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  background-color: #4CAF50;
}
 .future-podcast .this-day-podcast .today-temp-div{
  /* grid-area:  2 / 1 / span 2 / span 3; */
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
  background-color: rebeccapurple;
}
 .future-podcast .this-day-podcast .today-p-maxTemp {
  padding: 15px;
  display: flex;
  flex-direction: column;
 }
